.center {
    padding: 10px;
    margin: auto;
    width: 90%;
    background-color: rgba(40,40,40,.4);
    border-radius: 20px;
    border-color: #000;
    border-width: 3px;
}

#home_button {
    float:left;
    width:60px;
    height:25px;
    border-width:3px;
    border-radius: 5px;
}

#team-description {
    width: 100%;
    padding-left:80px;
    padding-bottom:10px;
    padding-top:10px;
    text-shadow: 2px 2px 2px rgba(255,255,255,.1);
    background-color: rgba(120,120,120,.4);
    height: 220px;
}

.table_div{
	width: 100%;
    margin-top:10px;
}

.background{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    background: -moz-linear-gradient(rgba(126, 42, 40, 0.8) 0%, rgba(33, 44, 93, 0.8) 20%, rgba(33, 44, 93, 1) 50%, rgba(33, 44, 93, 0.8) 80%, rgba(126, 42, 40, 0.8));
}

.team_stats{
    float: left;
    width: 240px;
    height: 100%;
    padding: 5px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-left:10px;
    margin-right: 10px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgba(200,200,200,.8);
}

.team_stats div{
    float:left;
    padding-top:10px;
    margin-left:2%;
    font-size: .9em;
}

body{
    width:100%;
    min-width: 1300px;
}

hr {
    display: block;
    margin:0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
    width:100%;
}

h3 {
    color: black;
    font-size:1.6em;
    padding-top: 30px;
    padding-bottom:20px;
    margin: 0px;
}